ML_MODEL=<your-model>

GEMINI_API_KEY=<your-key>
GEMINI_MODEL=gemini-2.5-flash
GEMINI_EMBEDDING_MODEL=gemini-embedding-2

GROQ_API_KEY=<your-key>
GROQ_MODEL=openai/gpt-oss-20b

LLM_PROVIDER=<choose-llm: openai | groq>

OPENAI_API_KEY=your-openai-key-here
OPENAI_MODEL=gpt-4o
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
