DATABASE_URL=postgresql+asyncpg://postgres:secret@localhost:5432/travel_planner

LLM_PROVIDER=<choose one: groq | openai>

# API_KEY will get set to one of these at runtime, based on LLM_PROVIDER
GROQ_API_KEY=<your-key>
OPENAI_API_KEY=<your-key>

CHEAP_MODEL_NAME=llama-3.1-8b-instant       # gpt-4o-mini
STRONG_MODEL_NAME=llama-3.3-70b-versatile   # gpt-4o

LANGCHAIN_API_KEY=<your-langsmith-api-key>
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT=travel-planner
